body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#IDAI {
    background-color: rgb(22, 22, 164);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 15px;
}

hr {
    border: none;
    height: 10px;
    background-color: red;
}

#titulo {
    background-color: rgb(22, 22, 164);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 50px;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#azul {
    background-color: rgb(69, 132, 250);
    font-size: 30px;
    color: yellow;
    padding: 10px;
    text-align: center;
}

#center {
    background-color: red;
    color: yellow;
    margin: auto;
}

#grid2 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }

#grid2 > div {
    background-color: red;
    border: 1px solid blue;
}
